// palette

$clr-ultra-blue:#4133D2;
$clr-mega-blue:#2B2DDE;
$clr-ultra-purple:#8147B0;
$clr-ultra-ruby:#D81E3E;
$clr-ultra-green:#00FF00;
$clr-ultra-pink:#FF00F7;
$clr-cream:#FFF6CF;
$clr-black:#000000;
$clr-ultra-yellow:yellow;
