// typography

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$fnt-body: 'Press Start 2P', 'Helvetica', sans-serif;
$fnt-header: 'Press Start 2P', 'Helvetica', sans-serif;
$fnt-body-size: 20px;
$fnt-color-default: $clr-cream;

body {
	font-family: 'Press Start 2P', 'Helvetica', sans-serif;
	color:$fnt-color-default;
}

// #####################################
// selections
// #####################################

::-moz-selection {
  background: black;
  opacity:100%;
  color:pink;
 }
::selection {
  background: black;
  opacity:100%;
  color:pink;
 }

// #####################################
// headers
// #####################################

h1, h2, h3, h4, h5, h6 {
  font-family: $fnt-header;
}

// #####################################
// body copy
// #####################################

p {
	font-size:$fnt-body-size;
	font-family: $fnt-body;
}

.txt-center {
	text-align:center;
}

.txt-left {
	text-align:left;
}

.txt-right {
	text-align:right;
}
