<div class="directions-overlay list-overlay">
  <h1>Find Us</h1>
  <div class="directions-content">
    <img src="{{site.baseurl}}/assets/PS_building-animate.gif" width="304px" height="357px" />
    <span>
      1413 South Virginia Street
    </span>
    <span>
      Reno, Nevada
    </span>
  </div>
  <hr />
  <div class="directions-content content-bump-bottom-4x">
    <a href="#" class="link-focus" target="_blank">
      Contact Us On Facebook
    </a>
  </div>
  <div class="directions-overlay-close list-overlay-close">
    <a href="javascript:void(0)" class="btn btn-white" id="directions-overlay-close">
      Go Back
    </a>
  </div>

</div>
