<div class="drink-overlay list-overlay">
 <div class="drink-heading">
    <h1>Select Drink</h1>
    <div class="drink-overlay-close--x">
      <a href="javascript:void(0)" class="exit-btn" id="drink-menu-close-x">
        <img src="assets/icon-close.svg" />
      </a>
    </div>
  </div>
  <div class="drink-list">

    <div class="row drink-category">
      <h2 class="drink-category-header">
        On Tap
      </h2>
      <h3 class="drink-subhead">
        Pints / Pitchers
      </h3>
      <ul>
        {% for drink in site.data.on-tap-list %}
        <li class="drink-dat-beer">
          {{ drink.name }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row drink-category">
      <h2 class="drink-category-header">
        Bottles
      </h2>

      <h3 class="drink-subhead">
        Domestic
      </h3>
      <ul>
        {% for drink in site.data.domestic-bottle-list %}
        <li class="drink-dat-beer">
          {{ drink.name }}
        </li>
        {% endfor %}
      </ul>

      <h3 class="drink-subhead">
        Craft & Import
      </h3>
      <ul>
        {% for drink in site.data.craft-bottle-list %}
        <li class="drink-dat-beer">
          {{ drink.name }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row drink-category">
      <h2 class="drink-category-header">
        Cocktails
      </h2>
      <h3 class="drink-subhead">
        Get Schwifty
      </h3>
      <ul>
        {% for drink in site.data.cocktail-list %}
        <li class="drink-dat-beer">
          {{ drink.name }}
        </li>
        {% endfor %}
      </ul>

      <h3 class="drink-subhead">
        ♥ We offer a full bar of fine spirits 'n' stuff
      </h3>

    </div>

  </div>

  <div class="drink-overlay-close list-overlay-close">
    <a href="javascript:void(0)" class="btn btn-white" id="drink-menu-close">
      Go Back
    </a>
  </div>

</div>
