<div class="game-overlay list-overlay">
 <div class="game-heading">
    <h1>Our Games</h1>
    <div class="game-overlay-close--x games-button">
      <a href="javascript:void(0)" class="exit-btn" id="gallery-listings-close">
        <img src="assets/icon-close.svg" />
      </a>
    </div>
  </div>
  <p class="game-subhead">
    We specialize in "lost classics" and "classic" arcade games.
  </p>

  <div class="game-grid">
    <!-- todo: fallback image for game cover -->
    {% for game in site.data.game-list.games  %}
    <div class="game-card directions-menu">
      <div class="game-cover">
        <img src="{{site.baseurl}}{{game.cover}}"/>
      </div>
      <div class="game-title">
        <span class="game-company">
          {{game.company}}
        </span>
        {{game.name}}
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="game-overlay-close list-overlay-close">
    <a href="javascript:void(0)" class="btn btn-white" id="game-menu-close">
      Go back
    </a>
  </div>

</div>
