<div class="game-overlay list-overlay">
  <h1>Our Games</h1>
  <p class="game-subhead">
    We specialize in "lost classics" and "classic" arcade games.
  </p>

  <div class="game-grid">
    <!-- todo: fallback image for game cover -->
    {% for game in site.data.game-list %}
    <div class="game-card">
      <div class="game-cover">
        <img src="{{site.baseurl}}{{game.cover}}"/>
      </div>
      <div class="game-title">
        <span class="game-company">
          {{game.company}}
        </span>
        {{game.name}}
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="game-overlay-close list-overlay-close">
    <a href="javascript:void(0)" class="btn btn-white" id="game-menu-close">
      Go back
    </a>
  </div>

</div>
