<nav class="nav-mobile">

  <div class="sm-col-fifth">
    <a href="#left">
      <img src="{{site.baseurl}}/assets/icon-arrow.svg" style="transform:rotate(-90deg);transform-origin:center center;"/>
      <span class="nav-label">
        Games
      </span>
    </a>
  </div>

  <div class="sm-col-fifth">
    <a href="#right">
      <img src="{{site.baseurl}}/assets/icon-arrow.svg" style="transform:rotate(90deg);transform-origin:center center;"/>
      <span class="nav-label">
        Drinks
      </span>
    </a>
  </div>

  <div class="sm-col-fifth nav-home">
    <a href="#home">
      <img src="{{site.baseurl}}/assets/icon-compass.svg" />
    </a>
  </div>

  <div class="sm-col-fifth">
    <a href="#top">
      <img src="{{site.baseurl}}/assets/icon-arrow.svg" />
      <span class="nav-label">
        Play
      </span>
    </a>
  </div>

  <div class="sm-col-fifth">
    <a href="#bottom">
      <img src="{{site.baseurl}}/assets/icon-arrow.svg" style="transform:rotate(180deg);transform-origin:center center;"/>
      <span class="nav-label">
        About
      </span>
    </a>
  </div>

</nav>
