<nav>
  <a href="#left" class="arcade-nav arcade-nav-left" id="nav-left">
    <img src="{{site.baseurl}}/assets/icon-arrow.svg" style="transform:rotate(-90deg);transform-origin:center center;"/>
  </a>

  <a href="#right" class="arcade-nav arcade-nav-right" id="nav-right">
    <img src="{{site.baseurl}}/assets/icon-arrow.svg" style="transform:rotate(90deg);transform-origin:center center;"/>
  </a>

  <a href="#top" class="arcade-nav arcade-nav-top" id="nav-top">
    <img src="{{site.baseurl}}/assets/icon-arrow.svg" />
  </a>

  <a href="#bottom" class="arcade-nav arcade-nav-bottom" id="nav-bottom">
    <img src="{{site.baseurl}}/assets/icon-arrow.svg" style="transform:rotate(180deg);transform-origin:center center;"/>
  </a>

  <a href="#home" class="arcade-nav arcade-nav-home" id="nav-home">
    <img src="{{site.baseurl}}/assets/icon-compass.svg" />
  </a>
</nav>
