<div class="branding">
  <img src="{{site.baseurl}}/assets/logo.svg" />
</div>

<div class="social">
  <img src="{{site.baseurl}}/assets/icon-fb.svg" />
  <img src="{{site.baseurl}}/assets/icon-insta.svg" />
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="foot-left">
      © {{ 'now' | date: "%Y" }} Press Start
    </div>
    <div class="foot-right">
      2pm-11pm DAILY
    </div>
  </div>
</div>

<div class="ps-guide">
  <div class="ps-guide-inner">
    <div class="ps-guide-left">
      Space bar for home
    </div>
    <div class="ps-guide-right">
      Use your arrow keys
    </div>
  </div>
</div>
