<div class="branding">
  <img src="{{site.baseurl}}/assets/logo.svg" />
</div>

<div class="social">
  <a href="{{ site.data.social.facebook }}">
    <img src="{{site.baseurl}}/assets/icon-fb.svg" />
  </a>
  <a href="{{ site.data.social.instagram }}">
    <img src="{{site.baseurl}}/assets/icon-insta.svg" />
  </a>
  <a href="javascript:void(0)" class="directions-menu mobile-show">
    <img src="{{site.baseurl}}/assets/icon-pin.svg" />
  </a>
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="foot-left">
      © {{ 'now' | date: "%Y" }} Press Start
    </div>
    <div class="foot-right directions-menu">
      Hours & Location <span style="font-size:20px">👁</span>
    </div>
  </div>
</div>

<div class="ps-guide">
  <div class="ps-guide-inner">
    <div class="ps-guide-left">
      Space bar for home
    </div>
    <div class="ps-guide-right">
      Use your arrow keys
    </div>
  </div>
</div>
