<div class="col-two-third col-center">
  <a href="#bottom">
    <!-- <div class="coin-box"></div> -->
    <h1 class="display-header">The Best Time You've Ever Wasted</h1>
  </a>
  <p class="subhead">
    {{site.data.homepage-text.first}}
  </p>
  <div class="details">
    <p>
    {{site.data.homepage-text.second}}
    </p>
    <p>
    {{site.data.homepage-text.third}}
    </p>
  </div>
  <a class="btn btn-white btn-green directions-menu" id="game-menu">
    Directions & Hours
  </a>
  <a class="btn btn-third btn-white btn-green gallery-listings-button">
      Gallery
  </a>
  <a class="btn btn-third btn-white btn-green" id="events-menu">
      Events
    </a>
</div>
