<div class="col-two-third col-center">
  <img src="{{site.baseurl}}/assets/beerski.png" />
  <h1 class="display-header no-blink display-header-green-border">
    RENO’S PREMIER BARCADE
  </h1>
  <p class="subhead">
    We serve cold craft beer, quality drinks, and have the freshest and always-changing selection of classic and modern arcade games in Reno, Nevada.
  </p>
  <div class="btn-group">
    <a href="#home" class="btn btn-third btn-white">
      01. Directions
    </a>
    <a href="#right" class="btn btn-third btn-white">
      02. Beers
    </a>
    <a href="#left" class="btn btn-third btn-white">
      03. Games
    </a>
  </div>
</div>
