<div class="col-two-third col-center about-container">
  <img src="{{site.baseurl}}/assets/coin-spin.gif" width="100px" />
  <h1 class="display-header no-blink display-header-green-border">
    Welcome to Press Start
  </h1>
  <p class="subhead">
    Reno's finest bar-cade. Serving cold craft beer and an always-changing selection of classic arcade games in Reno, Nevada. What do you need today?
  </p>
  <div class="btn-group">
    <a href="#bottom" class="btn btn-third btn-white directions-menu">
      Directions
    </a>
    <a href="#right" class="btn btn-third btn-white">
      Beer
    </a>
    <a href="#left" class="btn btn-third btn-white">
      Games
    </a>
  </div>

</div>
