<div class="col-two-third col-center">
  <a href="#bottom">
    <!-- <div class="coin-box"></div> -->
    <h1 class="display-header">The Best Time You've Ever Wasted</h1>
  </a>
  <p class="subhead">
    Press Start is Reno’s raddest bar & arcade serving Midtown's largest rotating selection of arcade games, draft beer, craft cocktails, and pinball.
  </p>
  <div class="details">
    <p>
      We’re open 7 days a week! Families and kids are welcome until 7PM everyday.
    </p>
    <p>
    Come check us out at 600 S Center Street!
    </p>
  </div>
  <a class="btn btn-white btn-green directions-menu" id="game-menu">
    Directions & Hours
  </a>
  <a class="btn btn-white btn-green" id="gallery-listings">
    Gallery
  </a>
</div>
