<div class="col-two-third col-center about-container">
  <img src="assets/coin-spin.gif" width="140px" class="sm-img" />
  <h1 class="display-header no-blink display-header-green-border">
    Welcome to Press Start
  </h1>
  <p class="subhead">
    Reno's finest bar-cade. Serving cold craft beer and an always-changing
    selection of classic arcade games in Reno, Nevada. What do you need today?
  </p>
  <div class="btn-group">
    <a class="btn btn-third btn-white btn-green directions-menu" id="game-menu">
      Directions & Hours
    </a>
    <a class="btn btn-third btn-white btn-green gallery-listings-button">
      Gallery
    </a>
  </div>
  <div class="prizes">
    <p class="subhead">
      Check out all our upcoming events! Join us for pinball & arcade tournaments and compete for fun prizes!
    </p>
    <a class="btn btn-third btn-white btn-green" id="events-menu">
      View Events
    </a>
  </div>
  <div class="planning">
   <p class="subhead">
  Planning a party of team building event? Send us a message on Instagram/Facebook, give a us call at <a href="tel:775-657-9981">775.657.9981</a>, or send us an email at <a href="mailto:ted@renopressstart.com:">ted@renopressstart.com</a>!
  </p>
  </div>
  <div class="games">
      <p class="subhead">
    We’re always changing up our arcade games and pinball machines. View our current games and drinks menu here!
    </p>
    <div class="btn-group">
      <a href="#left" class="btn btn-white games-button btn-green games-button-hide" id="game-menu">
        Games
      </a>
    <a href="#right" class="btn btn-third btn-white btn-green beer-time-button" id="drink-menu">
      Drink Menu
    </a>
    </div>
  </div>
</div>
