// content

.content {
  margin:$base-content;
  position:relative;
  overflow:hidden;
}

// #####################################
// spacing
// #####################################

.content-bump {
  padding:$base;
  @media (max-width:$base-sm) {
    padding:$base/2;
  }
}

.content-bump-bottom-half {
  padding-bottom:$base/2;
  @media (max-width:$base-sm) {
    padding-bottom:$base/2;
  }
}

.content-bump-top {
  padding-top:$base;
  @media (max-width:$base-sm) {
    padding-top:$base/2;
  }
}

.content-sides-bump-2x {
  padding-left:$base*2;
  padding-right:$base*2;
  @media (max-width:$base-sm) {
    padding-left:$base/2;
    padding-right:$base/2;
  }
}

.content-no-bump-bottom {
  padding-bottom:0;
}

.content-sm-no-bump {
  @media (max-width:$base-sm) {
    padding:0;
  }
}

// #####################################
// square
// #####################################

.sq-content {
  top:0;
  bottom:0;
  right:0;
  left:0;
  position:absolute;
}

// square
.sq-eighth {
  padding-bottom:$col-eighth;
  position:relative;
}
.sq-quarter {
  padding-bottom:$col-quarter;
  position:relative;
}
.sq-third {
  padding-bottom:$col-third;
  position:relative;
}
.sq-half {
  padding-bottom:$col-half;
  position:relative;
  @media (max-width:$base-md) {
    padding-bottom:$col-half*2;
  }
}
.sq-full {
  padding-bottom:$col-full;
  position:relative;
}

.sq-half-reset-sm {
  @media (max-width:$base-md) {
    padding:0;
  }
}

// #####################################
// svg fills
// #####################################

// svg {
//   fill:[fill color];
// }


// #####################################
// buttons + forms
// #####################################

.btn, button, input, label, textarea {
  display:inline-block;
  border: none;
  outline: none;
  height: $base;
  line-height: $base;
  border-radius: $base-radius;
  padding: 0 $base/2;
  -webkit-appearance: none;
  display:inline-block;
  &:active, &:focus {
    outline: none;
    border: none;
  }
}

textarea {
  height:auto;
  resize: vertical;
}

.btn, button {
  cursor:pointer;
}

// #####################################
// anchor
// #####################################

a.page-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

// #####################################
// arcade display
// #####################################

$ps-height:100vh;
$ps-width:100vw;

body {
  overflow:hidden;
}

main {
  width:$ps-width;
  height:$ps-height;
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-color:green;
  overflow:visible;
  #active, #left, #right, #bottom, #top {
    transition:all 1s ease;
  }
  #active {
    position:absolute;
    top:0;
    left:0;
    width:$ps-width;
    height:$ps-height;
    background-color:pink;
  }
  #left {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateX(0-($ps-width));
    width:$ps-width;
    height:$ps-height;
    background-color:yellow;
    &:target {
      transform:translateX(0);
    }
  }
  #right {
    transform:translateX($ps-width);
    width:$ps-width;
    height:$ps-height;
    background-color:orange;
    &:target {
      transform:translateX(0);
    }
  }
  #bottom {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateY($ps-height);
    width:$ps-width;
    height:$ps-height;
    background-color:red;
    &:target {
      transform:translateY(0);
    }
  }
  #top {
    position:absolute;
    top:0-($ps-height);
    left:0;
    width:$ps-width;
    height:$ps-height;
    background-color:blue;
    &:target {
      top:0;
    }
  }
}

#home {
  &:target {
    #active {
      position:absolute;
      top:0;
      left:0;
      width:$ps-width;
      height:$ps-height;
      background-color:pink;
    }
    #left {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:translateX(0-($ps-width));
      width:$ps-width;
      height:$ps-height;
      background-color:yellow;
    }
    #right {
      transform:translateX($ps-width);
      width:$ps-width;
      height:$ps-height;
      background-color:orange;
    }
    #bottom {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:translateY($ps-height);
      width:$ps-width;
      height:$ps-height;
      background-color:red;
    }
    #top {
      position:absolute;
      top:0-($ps-height);
      left:0;
      width:$ps-width;
      height:$ps-height;
      background-color:blue;
    }
  }
}
