// content

.content {
  margin:$base-content;
  position:relative;
  overflow:hidden;
}

// #####################################
// spacing
// #####################################

.content-bump {
  padding:$base;
  @media (max-width:$base-sm) {
    padding:$base/2;
  }
}

.content-bump-bottom-half {
  padding-bottom:$base/2;
  @media (max-width:$base-sm) {
    padding-bottom:$base/2;
  }
}

.content-bump-top {
  padding-top:$base;
  @media (max-width:$base-sm) {
    padding-top:$base/2;
  }
}

.content-sides-bump-2x {
  padding-left:$base*2;
  padding-right:$base*2;
  @media (max-width:$base-sm) {
    padding-left:$base/2;
    padding-right:$base/2;
  }
}

.content-no-bump-bottom {
  padding-bottom:0;
}

.content-sm-no-bump {
  @media (max-width:$base-sm) {
    padding:0;
  }
}

// #####################################
// square
// #####################################

.sq-content {
  top:0;
  bottom:0;
  right:0;
  left:0;
  position:absolute;
}

// square
.sq-eighth {
  padding-bottom:$col-eighth;
  position:relative;
}
.sq-quarter {
  padding-bottom:$col-quarter;
  position:relative;
}
.sq-third {
  padding-bottom:$col-third;
  position:relative;
}
.sq-half {
  padding-bottom:$col-half;
  position:relative;
  @media (max-width:$base-md) {
    padding-bottom:$col-half*2;
  }
}
.sq-full {
  padding-bottom:$col-full;
  position:relative;
}

.sq-half-reset-sm {
  @media (max-width:$base-md) {
    padding:0;
  }
}

// #####################################
// svg fills
// #####################################

// svg {
//   fill:[fill color];
// }


// #####################################
// buttons + forms
// #####################################

.btn, button, input, label, textarea {
  display:inline-block;
  border: none;
  outline: none;
  height: $base;
  line-height: $base;
  border-radius: $base-radius;
  padding: 0 $base/2;
  -webkit-appearance: none;
  display:inline-block;
  &:active, &:focus {
    outline: none;
    border: none;
  }
}

textarea {
  height:auto;
  resize: vertical;
}

.btn, button {
  cursor:pointer;
}

// #####################################
// anchor
// #####################################

a.page-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

// #####################################
// arcade display
// #####################################

$ps-height-lg:80vh;
$ps-width-lg:90vw;
$ps-height-md:80vh;
$ps-width-md:80vw;
$ps-height-sm:80vh;
$ps-width-sm:80vw;
$ps-transition:1s;
$ps-transition-style:ease-in;

$ps-bg-color-home:$clr-black;
$ps-bg-color-left:$clr-black;
$ps-bg-color-right:$clr-black;
$ps-bg-color-bottom:$clr-black;
$ps-bg-color-top:$clr-black;

$ps-arcade-wrapper-bg-1:$clr-ultra-blue;
$ps-arcade-wrapper-bg-2:$clr-ultra-purple;
$ps-arcade-wrapper-bg-3:$clr-ultra-ruby;
$ps-arcade-bg:$clr-black;


@keyframes ps-bg-transition {
  0% {
    border-left:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-1;
    border-right:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-1;
    border-top:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-1;
    border-bottom:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-1;
  }
  33% {
    border-left:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-2;
    border-right:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-2;
    border-top:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-2;
    border-bottom:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-2;
  }
  66% {
    border-left:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-3;
    border-right:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-3;
    border-top:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-3;
    border-bottom:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-3;
  }
  100% {
    border-left:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-1;
    border-right:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-1;
    border-top:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-1;
    border-bottom:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-1;
  }
}

body {
  overflow:hidden;
  position:fixed;
  background-color:$ps-arcade-wrapper-bg-1;
}

.arcade-content,{
  width:$ps-width-lg;
  height:$ps-height-lg;
  position:relative;
  .push-center-center {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
  }
}

.arcade-wrapper {
  width:$ps-width-lg;
  height:$ps-height-lg;
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-color:$ps-arcade-bg;
  &:after {
    content:'';
    left:0-(100vw - $ps-width-lg);
    right:0-(100vw - $ps-width-lg);
    top:0-(100vh - $ps-height-lg);
    bottom:0-(100vh - $ps-height-lg);
    background:none;
    position:absolute;
    z-index:200;
    border-left:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-1;
    border-right:(100vw - $ps-width-lg) solid $ps-arcade-wrapper-bg-1;
    border-top:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-1;
    border-bottom:(100vh - $ps-height-lg) solid $ps-arcade-wrapper-bg-1;
    animation: ps-bg-transition 5s linear infinite;
  }
  .arcade-container {
    position:absolute;
    overflow:visible;
    left:0;
    right:0;
    bottom:0;
    top:0;
  }
  #home, #left, #right, #bottom, #top {
    transition:all $ps-transition $ps-transition-style;
    margin:0;
  }
  #home {
    position:absolute;
    top:0;
    left:0;
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-home;
    opacity:1;
    a, a:visited, a:hover, a:active {
      color:black !important;
    }
  }
  #left {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateX(0-($ps-width-lg));
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-left;
    a, a:visited, a:hover, a:active {
      color:black !important;
    }
    &:target {
      transform:translateX(0);
    }
  }
  #right {
    transform:translateX($ps-width-lg);
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-right;
    a, a:visited, a:hover, a:active {
      color:black !important;
    }
    &:target {
      transform:translateX(0);
    }
  }
  #bottom {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateY($ps-height-lg);
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-bottom;
    color:white !important;
    a, a:visited, a:hover, a:active {
      color:white !important;
    }
    &:target {
      transform:translateY(0);
    }
  }
  #top {
    position:absolute;
    top:0-($ps-height-lg);
    left:0;
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-top;
    color:white !important;
    a, a:visited, a:hover, a:active {
      color:white !important;
    }
    &:target {
      top:0;
    }
  }
}

#home {
  &:target {
    #center {
      position:absolute;
      top:0;
      left:0;
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-home;
      opacity:1;
    }
    #left {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:translateX(0-($ps-width-lg));
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-left;
    }
    #right {
      transform:translateX($ps-width-lg);
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-right;
    }
    #bottom {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:translateY($ps-height-lg);
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-bottom;
    }
    #top {
      position:absolute;
      top:0-($ps-height-lg);
      left:0;
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-top;
    }
  }
}

.hidden {
  opacity:0;
}

nav {
  .arcade-nav {
    z-index:900;
    background-color:black;
    color:white;
    line-height:60px;
    width:60px;
    height:60px;
    text-align:center;
    border-radius:100px;
    position:absolute;
    transition:all 1s ease;
    font-size:30px;
    &.arcade-nav-left {
      left:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      &:hover {
        transform:translateY(-50%) scale(1.5);
      }
    }
    &.arcade-nav-right {
      right:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      &:hover {
        transform:translateY(-50%) scale(1.5);
      }
    }
    &.arcade-nav-bottom {
      bottom:10px;
      left:50%;
      transform:translateX(-50%) scale(1);
      &:hover {
        transform:translateX(-50%) scale(1.5);
      }
    }
    &.arcade-nav-top {
      top:10px;
      left:50%;
      transform:translateX(-50%) scale(1);
      &:hover {
        transform:translateX(-50%) scale(1.5);
      }
    }
    &.arcade-nav-home {
      top:10px;
      left:10px;
      transform:scale(1);
      &:hover {
        transform:scale(1.5);
      }
    }
  }
}

//outer arcade display: branding, footer, etc.

.branding {
  position:fixed;
  top:(100vh - $ps-height-lg)/9;
  left:50%;
  transform:translateX(-50%);
  display:inline-block;
  z-index:900;
  img {
    max-height:(100vh - $ps-height-lg)/4;
  }
}

.footer {
  position:fixed;
  bottom:(100vh - $ps-height-lg)/3;
  left:0;
  width:100%;
  z-index:900;
  .footer-inner {
    max-width:$ps-width-lg;
    width:100%;
    margin:0 auto;
    .foot-left,.foot-right {
      text-transform:uppercase;
      line-height:0;
      font-size:9px;
    }
    .foot-left {
      float:left;
      text-align:left;
    }
    .foot-right {
      float:right;
      text-align:right;
    }
  }
}

.social {
  position:fixed;
  bottom:(100vh - $ps-height-lg)/4;
  left:50%;
  transform:translateX(-50%);
  display:inline-block;
  z-index:900;
  img {
    max-height:(100vh - $ps-height-lg)/4.5;
    line-height:0;
    vertical-align:middle;
  }
}
