// content

.content {
  margin:$base-content;
  position:relative;
  overflow:hidden;
}

.hidden {
  opacity:0;
}

// #####################################
// spacing
// #####################################

.content-bump {
  padding:$base;
  @media (max-width:$base-sm) {
    padding:$base/2;
  }
}

.content-bump-bottom-half {
  padding-bottom:$base/2;
  @media (max-width:$base-sm) {
    padding-bottom:$base/2;
  }
}

.content-bump-bottom-4x {
  padding-bottom:$base*3 !important;
  @media (max-width:$base-sm) {
    padding-bottom:$base*3 !important;
  }
}

.content-bump-top {
  padding-top:$base;
  @media (max-width:$base-sm) {
    padding-top:$base/2;
  }
}

.content-sides-bump-2x {
  padding-left:$base*2;
  padding-right:$base*2;
  @media (max-width:$base-sm) {
    padding-left:$base/2;
    padding-right:$base/2;
  }
}

.content-no-bump-bottom {
  padding-bottom:0;
}

.content-sm-no-bump {
  @media (max-width:$base-sm) {
    padding:0;
  }
}

// #####################################
// square
// #####################################

.sq-content {
  top:0;
  bottom:0;
  right:0;
  left:0;
  position:absolute;
}

// square
.sq-eighth {
  padding-bottom:$col-eighth;
  position:relative;
}
.sq-quarter {
  padding-bottom:$col-quarter;
  position:relative;
}
.sq-third {
  padding-bottom:$col-third;
  position:relative;
}
.sq-half {
  padding-bottom:$col-half;
  position:relative;
  @media (max-width:$base-md) {
    padding-bottom:$col-half*2;
  }
}
.sq-full {
  padding-bottom:$col-full;
  position:relative;
}

.sq-half-reset-sm {
  @media (max-width:$base-md) {
    padding:0;
  }
}

// #####################################
// svg fills
// #####################################

// svg {
//   fill:[fill color];
// }


// #####################################
// buttons + forms
// #####################################

.btn, button, input, label, textarea {
  display:inline-block;
  border: none;
  outline: none;
  height: $base;
  line-height: $base;
  border-radius: $base-radius;
  padding: 0 $base/2;
  -webkit-appearance: none;
  display:inline-block;
  &:active, &:focus {
    outline: none;
    border: none;
  }
}

textarea {
  height:auto;
  resize: vertical;
}

.btn, button {
  text-transform:uppercase;
  font-size:16px;
  border-radius:999px;
  padding: 20px 25px!important;
  height: auto!important;
  line-height: initial!important;

    @media (max-width:$base-md) {
      width:100%;
      margin:20px 0!important;
    }
}

.btn-white {
  height:50px;
  line-height:50px;
  padding:0 20px;
  border:5px solid $clr-cream;
  background-color:rgba($clr-ultra-green,0);
  transition:all 0s ease;
  color:$clr-cream;
  &.btn-fuschia {
    border:5px solid $clr-ultra-pink;
    background-color: $clr-black;
    &:hover {
      background-color:$clr-ultra-pink;
      border:5px solid $clr-ultra-pink;
      color:$clr-black !important;
    }
  }
   &.btn-green {
    border:5px solid $clr-ultra-green;
    background-color: $clr-black;
    padding: 0 25px;
    &:hover {
      background-color:$clr-ultra-green;
      border:5px solid $clr-ultra-green;
      color:$clr-black !important;
    }
  }
  &:hover {
    background-color:$clr-ultra-green;
    border:5px solid $clr-ultra-green;
    color:$clr-black !important;
  }
}

.btn-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;

  .btn-third {
    width:fit-content;
    @media (max-width:$base-md) {
      width:80%;
      margin: 20px 0 20px 0!important;
    }
  }
}

// #####################################
// anchor
// #####################################

a.page-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

// #####################################
// arcade display
// #####################################

$ps-height-lg:80vh;
$ps-width-lg:90vw;
$ps-height-md:80vh;
$ps-width-md:80vw;
$ps-height-sm:80vh;
$ps-width-sm:80vw;
$ps-transition:1s;
$ps-transition-style:ease-in;

$ps-bg-color-home:$clr-black;
$ps-bg-color-left:$clr-black;
$ps-bg-color-right:$clr-black;
$ps-bg-color-bottom:$clr-black;
$ps-bg-color-top:$clr-black;

$ps-arcade-wrapper-bg-1:$clr-ultra-blue;
$ps-arcade-wrapper-bg-2:$clr-ultra-purple;
$ps-arcade-wrapper-bg-3:$clr-ultra-ruby;
$ps-arcade-bg:$clr-black;

body {
  overflow:hidden;
  position:fixed;
  background-color:$ps-arcade-wrapper-bg-1;
  // cursor: url(../assets/crosshair-cursor-2.png) 41 41, crosshair;
  color:$clr-cream;
  a, a:hover, a:visited, a:active {
    // cursor: url(../assets/crosshair-cursor-2.png) 41 41, crosshair;
    cursor: pointer;
  }
}

.arcade-display{
  padding-top: 70px!important;
  overflow-y: hidden;

  @media (max-width:$base-md) {
    overflow-y: scroll;
  }
}

.arcade-content{
  width:$ps-width-lg;
  height:$ps-height-lg;
  position:relative;
  color:$clr-cream;
  overflow-y:scroll;
  .push-center-center {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    max-width:$ps-width-lg;
    max-height:$ps-height-lg;
    width:100%;
    padding:$base/2;
    @media (max-width:$base-sm) {
      position:absolute;
      left:0;
      right:0;
      top:0;
      transform:none;
      .col-center {
        padding-bottom:$base!important;
        padding-top:$base/2!important;
      }
    }
    .subhead{
      line-height: 28px;
    }
  }
  a {
    color:$fnt-color-default;
    &:hover, &:visited, &:active {
      color:$fnt-color-default;
    }
  }
}

.arcade-wrapper {
  width:$ps-width-lg;
  height:$ps-height-lg;
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-color:$ps-arcade-bg;
  .arcade-container {
    position:absolute;
    overflow:visible;
    left:0;
    right:0;
    bottom:0;
    top:0;
  }
  #home, #left, #right, #bottom, #top {
    transition:all $ps-transition $ps-transition-style;
    margin:0;
  }
  #home {
    position:absolute;
    top:0;
    left:0;
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-home;
    opacity:1;
    transition:all .5 $ps-transition-style;
  }
  #left {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateX(0-($ps-width-lg));
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-left;
    &:target {
      transform:translateX(0);
    }
  }
  #right {
    transform:translateX($ps-width-lg);
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-right;
    &:target {
      transform:translateX(0);
    }
  }
  #bottom {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateY($ps-height-lg);
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-bottom;
    &:target {
      transform:translateY(0);
    }
  }
  #top {
    position:absolute;
    top:0-($ps-height-lg);
    left:0;
    width:$ps-width-lg;
    height:$ps-height-lg;
    background-color:$ps-bg-color-top;;
    &:target {
      top:0;
    }
  }
}

#home {
  &:target {
    #center {
      position:absolute;
      top:0;
      left:0;
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-home;
      opacity:1;
    }
    #left {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:translateX(0-($ps-width-lg));
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-left;
    }
    #right {
      transform:translateX($ps-width-lg);
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-right;
    }
    #bottom {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:translateY($ps-height-lg);
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-bottom;
    }
    #top {
      position:absolute;
      top:0-($ps-height-lg);
      left:0;
      width:$ps-width-lg;
      height:$ps-height-lg;
      background-color:$ps-bg-color-top;
    }
  }
}

//arcade borders. for now until we figure out the stupid overflow:hidden bug.

@keyframes ps-frame-cycle {
  0% {
    background-color:$ps-arcade-wrapper-bg-1;
  }
  33% {
    background-color:$ps-arcade-wrapper-bg-2;
  }
  66% {
    background-color:$ps-arcade-wrapper-bg-3;
  }
  100% {
    background-color:$ps-arcade-wrapper-bg-1;
  }
}

.ps-frame {
  background-color:$ps-arcade-wrapper-bg-1;
  animation: ps-frame-cycle 6s linear infinite;
  position:fixed;
  z-index:800;
}

.ps-frame-top {
  height:(100vh - $ps-height-lg)/2;
  width:100vw;
  top:70px;
  left:0;
}

.ps-frame-bottom {
  height:(100vh - $ps-height-lg)/2;
  width:100vw;
  bottom:0;
  left:0;
}

.ps-frame-left {
  width:(100vw - $ps-width-lg)/2;
  height:100vh;
  top:70px;
  left:0;
}

.ps-frame-right {
  width:(100vw - $ps-width-lg)/2;
  height:100vh;
  top:70px;
  right:0;
}

//outer arcade display: branding, footer, etc.

.branding {
  position:fixed;
  top:calc(((100vh - $ps-height-lg)/7) + 70px);
  left:50%;
  transform:translateX(-50%);
  display:inline-block;
  z-index:900;
  @media (max-width:$base-sm) {
    left:(100vw - $ps-width-lg)/2;
    transform:none;
  }
  img {
    max-height:(100vh - $ps-height-lg)/4;
  }
}

.footer {
  position:fixed;
  bottom:(100vh - $ps-height-lg)/3;
  left:0;
  width:100%;
  z-index:900;
  @media (max-width:$base-sm) {
    display:none;
  }
  .footer-inner {
    max-width:$ps-width-lg;
    width:100%;
    margin:0 auto;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .foot-left,.foot-right {
      text-transform:uppercase;
      line-height:0;
      font-size:9px;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .foot-left {
      float:left;
      text-align:left;
      @media (max-width:$base-sm) {
        display:none;
      }
    }
    .foot-right {
      float:right;
      text-align:right;
    }
  }
}

.ps-guide {
  position:fixed;
  top:calc(((100vh - $ps-height-lg)/3) + 70px);
  left:0;
  width:100%;
  z-index:900;
  @media (max-width:$base-sm) {
    display:none;
  }
  .ps-guide-inner {
    max-width:$ps-width-lg;
    width:100%;
    margin:0 auto;
    .ps-guide-left,.ps-guide-right {
      text-transform:uppercase;
      line-height:0;
      font-size:9px;
    }
    .ps-guide-left {
      float:left;
      text-align:left;
    }
    .ps-guide-right {
      float:right;
      text-align:right;
    }
  }
}

.social {
  position:fixed;
  bottom:(100vh - $ps-height-lg)/4;
  left:50%;
  transform:translateX(-50%);
  display:inline-block;
  z-index:900;
  @media (max-width:$base-sm) {
    bottom:auto;
    top:calc(((100vh - $ps-height-lg)/7) + 70px);
    right:(100vw - $ps-width-lg)/2;
    transform:none;
    text-align:right;
  }
  img {
    max-height:(100vh - $ps-height-lg)/4.5;
    line-height:0;
    vertical-align:middle;
  }
}

// home screen

#home {
  .col-center{
    padding: 128px 0;
  }

  .details{
    margin: 28px 0 31px 0;
    line-height: 28px;

    p:first-of-type{
      margin-bottom: 31px;
    }
  }

  .subhead{
    border-bottom: 4px solid $clr-ultra-ruby;
    padding-bottom: 20px;
    margin: 0 20px;
    line-height: 28px;
  }
}

#bottom {
  .btn-group {
    margin-top:20px;
    @media (max-width:$base-md) {
      .btn {
        display:block;
        width:100%;
      }
    }
  }
}

@keyframes ps-border-cycle {
  0% {
    border-color:$ps-arcade-wrapper-bg-1;
  }
  33% {
    border-color:$ps-arcade-wrapper-bg-2;
  }
  66% {
    border-color:$ps-arcade-wrapper-bg-3;
  }
  100% {
    border-color:$ps-arcade-wrapper-bg-1;
  }
}

h1 {
  &.display-header {
    text-transform:uppercase;
    border-top:4px solid $clr-ultra-ruby;
    border-bottom:4px solid $clr-ultra-ruby;
    animation: blink 1s infinite;
    padding:20px 0px;
    font-size: 2.5em;
    margin:20px;
    line-height: 1.5em;
    @media (max-width:$base-md) {
      font-size: 2em;
    }
    @media (max-width:$base-sm) {
      font-size:18px;
      line-height:1.3;
    }
    &.no-blink {
      animation:none;
    }
    &.display-header-green-border {
      border-top:4px solid $clr-ultra-green;
      border-bottom:4px solid $clr-ultra-green;
      transition:all 1s ease;
      animation: ps-border-cycle 3s infinite;
    }
  }
}

// beer game

@keyframes drunk-wobble {
  from { transform: none; filter:blur(10px); }
  15% { transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% { transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);filter:blur(5px); }
  45% { transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); filter:blur(10px); }
  60% { transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% { transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to { transform: none; filter:blur(0px); }
  }

.drunk-1 {
  animation:drunk-wobble 8s 1 ease;
}

#right {
  .push-center-center {
    padding:$base;
    .btn {
      margin-bottom:20px;
      width: fit-content;
      display:block;

      @media (max-width:$base-md) {
        width: 100%;
      }
    }
    @media (max-width:$base-sm) {
      padding:$base/2;
    }
  }
}

.beer-box {
  border:4px solid $clr-ultra-yellow;
  text-transform:uppercase;
  padding: 55px 87px!important;
  display:inline-block;
  @media (max-width:$base-md) {
    padding:25px!important;
  }
  @media (max-width:$base-sm) {
    border:none;
    padding:0!important;
  }
  h1 {
    margin:28px 0px;
    color:$clr-cream;
    @media (max-width:$base-sm) {
      font-size:29px;
      line-height:1.3;
    }
  }

  .beer-time-btns-container{
    display: flex;
    justify-content: center;

    @media (max-width:$base-md) {
      flex-direction: column;
      align-items: center;
    }

    a{
      margin-bottom: 0;
      margin-top: 32px;

      &:first-of-type{
        margin-right: 10px;

        @media (max-width:$base-md) {
          margin-right: 0;
        }
      }
      
      &:last-of-type{
        margin-left: 10px;

        @media (max-width:$base-md) {
          margin-left: 0;
        }
      }
    }
  }

  .btn {
    padding-left:20px;
    padding-right:20px;
    color:$clr-cream;
    border-color:$clr-ultra-ruby;
    &.games-button-hide {
      display:none;
    }
    &:hover {
      color:$clr-black !important;
      background-color:$clr-ultra-yellow;
      border-color:$clr-ultra-yellow;
    }
  }
}

.game-box {
  border:4px solid $clr-ultra-purple;
  text-transform:uppercase;
  padding: 49px 74px!important;
  display:inline-block;
  @media (max-width:$base-sm) {
    border:none;
    padding:0;
  }
  h1 {
    margin: 20px 0 92px 0;
    color:$clr-cream;
    @media (max-width:$base-sm) {
      font-size:29px;
      line-height:1.3;
    }
  }
  .btn {
    padding-left:20px;
    padding-right:20px;
    color:$clr-cream;
    border-color:$clr-ultra-purple;
    &.games-button-hide {
      display:none;
    }
    &:hover {
      color:$clr-black !important;
      background-color:$clr-ultra-green;
      border-color:$clr-ultra-green;
    }
  }
}

.notification-bar{
  --topSpacingRatio: 20 / 100;
  --bottomSpacingRatio: 20 / 100;
  --notificationBarCharacterCount: 80ch;
  --notificationBarSpeed: 10s;
    padding: 21px 0!important;
    z-index: 100000;
    position: fixed;
    background: $clr-coral;
    width: 100vw;

    @keyframes notificationText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  &__inner {
    overflow: hidden;
  }

  &__text {
    will-change: transform;
    width: 100%;
    animation: notificationText var(--notificationBarSpeed) linear infinite;
    margin-bottom: 0;
    width: var(--notificationBarCharacterCount);
    font-size: 15px;
    line-height: 28px;
    text-shadow: var(--notificationBarCharacterCount) 0 #fff,
      calc(var(--notificationBarCharacterCount) * 2) 0 #fff,
      calc(var(--notificationBarCharacterCount) * 3) 0 #fff,
      calc(var(--notificationBarCharacterCount) * 4) 0 #fff,
      calc(var(--notificationBarCharacterCount) * 5) 0 #fff,
      calc(var(--notificationBarCharacterCount) * 6) 0 #fff;
  }
}

.directions-overlay__container{
  max-width: 700px;
  margin: 0 auto;
}

.drink-overlay-close--x, .directions-overlay-close-x{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 41px;
  bottom: 0;
  right: 70px;
  height: fit-content;

  @media (max-width:$base-md) {
    top: 0;
    right: 15px;
    
    img{
      max-width: 40px;
    }
  }
}

.directions-overlay-close-x{
  @media (max-width:$base-md) {
    top:20px;
  }
}


.list-overlay {
  &.drink-overlay {
    position:fixed;
    z-index: 100000;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:$clr-ultra-ruby;
    color:$clr-cream;
    text-align:center;
    display:none;
    max-height:100vh;
    overflow:auto;
    div[class^="col-"], div[class*=" col-"] {
      float:left;
      position:relative;
      @media (max-width:$base-sm) {
        float:none;
        display:block;
        width:100%;
      }
    }

    .drink-heading{
      position: relative;
    }

    &.show-drink-overlay, &.show-events-overlay {
      display:block !important;
    }
    h1 {
      margin:20px 0px;
      color:$clr-cream;
      font-size:72px;
      padding:40px 0px;
      text-align:center;
      text-transform:uppercase;
      @media (max-width:$base-sm) {
        font-size:29px;
        line-height:1.3;
        margin: 20px 20px 34px;
      }
    }
    .drink-list {
      max-width: 1024px;
      margin:0 auto;
      text-align:left;
      padding-bottom:$base*3;
      .drink-category-header {
        display:block;
        background-color:$clr-cream;
        color:$clr-ultra-ruby;
        padding: $base/3;
        width:90%;
        margin:$base/1.5 auto;
        text-align:left;
        text-transform:uppercase;
        letter-spacing:2px;
      }
      .drink-subhead {
        color:$clr-ultra-yellow;
        font-size:12px;
        text-transform:uppercase;
        width:90%;
        font-weight:normal;
        line-height: 28px;
        letter-spacing:2px;
        margin:$base/3 auto;
        padding-left:10px;
      }
      ul {
        list-style-type:none;
        width:90%;
        margin:0 auto;
        padding:0;
        li {
          text-transform:uppercase;
          letter-spacing:1px;
          padding:0 10px;
          line-height:2;
          margin:5px 0;
          &:hover {
            background-color:$clr-ultra-yellow;
            color:$clr-ultra-ruby;
          }
        }
      }
    }
  }

  &.game-overlay{
    position:fixed;
    z-index: 100000;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:$clr-mega-blue;
    color:$clr-cream;
    text-align:center;
    display:none;
    max-height:100vh;
    overflow:auto;
    div[class^="col-"], div[class*=" col-"] {
      float:left;
      position:relative;
      @media (max-width:$base-sm) {
        float:none;
        display:block;
        width:100%;
      }
    }
    &.show-game-overlay {
      display:block !important;
    }

    .game-overlay-close--x{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 41px;
      bottom: 0;
      right: 70px;
      height: fit-content;

      @media (max-width:$base-md) {
        top: 0;
        right: 15px;
        
        img{
          max-width: 40px;
        }
      }
    }

    .game-heading{
      position: relative;
    }

    h1 {
      margin: 20px auto 34px;
      color: #FFFFFF;
      font-size:72px;
      padding:40px 20px 0px 20px;
      text-align:center;
      max-width: 700px;
      text-transform:uppercase;
      @media (max-width:$base-sm) {
        font-size:29px;
        line-height:1.3;
      }
    }
    .game-subhead {
      padding: 34px 20px 20px 20px;
      border-top: 3px solid $clr-yellow;
      max-width:700px;
      width:90%;
      line-height: 28px;
      margin:0 auto 40px auto;
    }

    .games-heading{
      position: relative;
    }
    .game-grid {
      max-width:1024px;
      width:100%;
      margin:0 auto;
      text-transform:uppercase;
      font-size:15px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
      flex-wrap:wrap;
      padding:20px;
      @media (max-width:$base-sm) {
        display:block;
      }
      &:after {
        content: ""; // fix last row to flex grid
        flex: auto;
      }
      .game-card {
        width:190px;
        min-height:200px;
        padding:10px 10px 30px 10px;
        transition:all 0s ease;
        @media (max-width:$base-sm) {
          width:100%;
          min-height:auto;
          height:auto;
        }
        .game-cover {
          display:block;
        }
        .game-title {
          display:block;
          text-align:left;
          margin-top:10px;
          @media (max-width:$base-sm) {
            text-align:center;
          }
          span.game-company {
            display:block;
            color:$clr-ultra-green;
          }
        }
      }
    }
  }

  &.events-overlay{
    position:fixed;
    z-index: 100000;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: $clr-black;
    color: #fff;
    display:none;
    max-height:100vh;
    overflow:auto;

    .event-heading{
      position: relative;
    }

    div[class^="col-"], div[class*=" col-"] {
      float:left;
      position:relative;
      @media (max-width:$base-sm) {
        float:none;
        display:block;
        width:100%;
      }
    }
    &.show-events-overlay {
      display:block !important;
    }

    .events-overlay-close{
     z-index: 100!important;
      display: flex;
      justify-content: center;

      a{
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        width: 90%;
        border-color: $clr-yellow;
        transition: all 0s ease;
        background-color: $clr-black;
        color: #fff;
        text-align: center;

        &:hover{
          background-color:$clr-yellow;
          color:$clr-black!important;
        }
      }
    }

    .event-overlay-close-x{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 41px;
      bottom: 0;
      right: 70px;
      height: fit-content;

      @media (max-width:$base-md) {
        top: 0;
        right: 15px;
        
        img{
          max-width: 40px;
        }
      }
    }

    h1 {
      margin:20px 0px 0px 0px;
      text-shadow: 6px 6px 0 $clr-ultra-green;
      color:$clr-ultra-yellow;
      font-size:72px;
      padding:40px 20px 0px 20px;
      text-align:center;
      text-transform:uppercase;
      @media (max-width:$base-sm) {
        font-size:29px;
        line-height:1.3;
      }
    }
    .event-subhead {
      padding:20px 20px 20px 20px;
      border-bottom: 4px solid $clr-ultra-green;
      max-width:1024px;
      line-height: 28px;
      width:90%;
      margin:0 auto 40px auto;
    }
    .event-grid {
      max-width: 945px;
      width:100%;
      margin:0 auto;
      padding:20px 20px 200px 20px;
      @media (max-width:$base-sm) {
        display:block;
      }
      .event-listing {
        transition:all 0s ease;
        margin-bottom: 65px;
        @media (max-width:$base-sm) {
          width:100%;
          min-height:auto;
          height:auto;
        }
        .event-cover {
          display:block;
          max-width: 650px;
          margin: 0 auto;
        }

        .event-date{
          color: $clr-ultra-yellow;
          font-size: 16px;
          margin: 29px 0 25px 0;
        }

        .event-title {
          display:block;
          background-color: $clr-ultra-green;
          color: $clr-black;
          margin-top:10px;
          font-size: 25px;
          padding: 15px 23px;
          width: 100%;
          @media (max-width:$base-sm) {
            text-align:center;
          }
        }

        .event-description {
          display:block;
          color: #fff;
          font-size: 18px;
          margin-bottom: 40px;
          line-height: 24px;
        }
      }
    }
  }

  &.gallery-overlay{
    position:fixed;
    z-index: 100000;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: $clr-black;
    color: #fff;
    display:none;
    max-height:100vh;
    overflow:auto;

    @media (max-width:$base-md) {
      padding-top: 0;
    }

    div[class^="col-"], div[class*=" col-"] {
      float:left;
      position:relative;
      @media (max-width:$base-sm) {
        float:none;
        display:block;
        width:100%;
      }
    }
    &.show-gallery-overlay {
      display:block !important;
    }

    .gallery-overlay-close{
      z-index: 100!important;
      display: flex;
      justify-content: center;

      a{
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        width: 90%;
        border-color: $clr-ultra-green;
        transition: all 0s ease;
        background-color: $clr-black;
        color: #fff;
        text-align: center;

        &:hover{
          background-color:$clr-ultra-green;
          color:$clr-black!important;
        }
      }
    }
  

    .gallery-overlay-close-x{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 41px;
      bottom: 0;
      right: 70px;
      height: fit-content;

      @media (max-width:$base-md) {
        top: 0;
        right: 15px;
        
        img{
          max-width: 40px;
        }
      }
    }

    .event-heading{
      position: relative;
    }

    h1 {
      margin:26px 0px 31px 0px;
      text-shadow: 6px 6px 0 $clr-ultra-blue;
      color:$clr-ultra-green;
      font-size:72px;
      padding:40px 20px 0px 20px;
      text-align:center;
      text-transform:uppercase;
      @media (max-width:$base-sm) {
        font-size:29px;
        line-height:1.3;
      }
    }
    .gallery-grid {
      max-width: 1100px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width:100%;
      margin:0 auto;
      gap: 20px;
      padding: 20px 20px 77px 20px;

      @media (max-width:$base-sm) {
        display:block;
      }
      .gallery-image {
        width: 100%;
        position: relative;
        padding-bottom: 75%;
        overflow: hidden;

      @media (max-width:$base-sm) {
        margin-bottom: 20px;
      }

        img {
          position: absolute;
          inset: 0px;
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: center center;
          max-width: 100%;
          pointer-events: none;
          z-index: 20;
        }
      }
    }
  }

  &.directions-overlay {
    position:fixed;
    z-index: 100000;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:$clr-ultra-purple;
    color:$clr-cream;
    text-align:center;
    display:none;
    max-height:100vh;
    overflow:auto;
    padding-bottom:$base*3;

    .directions-heading{
      display: relative;
    }

    div[class^="col-"], div[class*=" col-"] {
      float:left;
      position:relative;
      @media (max-width:$base-sm) {
        float:none;
        display:block;
        width:100%;
      }
    }
    &.show-directions-overlay {
      display:block !important;
    }
    h1 {
      text-shadow: 6px 6px 0 $clr-black;
      color:$clr-ultra-yellow;
      font-size:72px;
      padding:40px 0px;
      border-bottom: 4px solid $clr-ultra-yellow;
      max-width:1024px;
      width:90%;
      margin:20px auto;
      text-align:center;
      text-transform:uppercase;
      @media (max-width:$base-sm) {
        font-size:29px;
        line-height:1.3;
      }
    }
    .directions-content {
      padding:0 $base/2;
      img {
        margin-bottom:20px;
        margin-top: 22px;
      }

      &__btn{
        display: flex;
        flex-direction: column;
      }

      p{
        line-height: 28px!important;
        font-size: 18px!important;
        margin-bottom: 16px!important;
      }
       span, p {
         text-align:center;
         display:block;
         color:$clr-cream;
         font-size: 22px;
         letter-spacing: 3.47px;
         line-height: 1.5;
         text-transform:uppercase;
         text-shadow: 2px 4px 0 $clr-black;
         @media (max-width:$base-sm) {
           font-size: 16px;
           letter-spacing: 3.47px;
         }
         &.directions-content-sm {
           font-size:16px;
           letter-spacing:3.47px;
           line-height:1.5;
           @media (max-width:$base-sm) {
             font-size:8px;
             letter-spacing:1.47px;
             text-shadow: 1px 2px 0 $clr-black;
           }
         }
       }
       .link-focus {
         color:$clr-ultra-yellow;
         font-size: 22px;
         letter-spacing: 3.47px;
         line-height: 1.5;
         text-transform:uppercase;
         text-shadow: 2px 4px 0 $clr-black;
         text-decoration:none;
         padding-bottom:5px;
         margin-bottom:$base/3;
        display: flex;
        align-items: center;
        justify-content: space-around;

         @media (max-width:$base-sm) {
           font-size: 16px;
           letter-spacing: 3.47px;
           line-height:2;
         }
         &:hover {
           color:$clr-cream;
           text-shadow: 4px 6px 0 $clr-ultra-ruby;
         }
       }
    }
    hr {
      border:none;
      outline:none;
      height:4px;
      background-color:$clr-cream;
      margin:$base/2 auto;
      width:90%;
    }
  }

  .list-overlay-close {
    position:fixed;
    bottom:$base;
    left:0;
    right:0;
    margin:0 auto;
    @media (max-width:$base-sm) {
      bottom:$base/3;
    }
    &.drink-overlay-close {
      .btn {
        max-width:420px;
        width:100%;
        margin:0 auto;
        width:90%;
        border-color:$clr-ultra-yellow;
        transition:all 0s ease;
        background-color:$clr-ultra-ruby;
        color:$clr-cream;
        &:hover {
          background-color:$clr-ultra-yellow;
          color:$clr-ultra-ruby !important;
        }
      }
    }
    &.directions-overlay-close {
      .btn {
        max-width:420px;
        width:100%;
        margin:0 auto;
        width:90%;
        border-color:$clr-ultra-yellow;
        transition:all 0s ease;
        background-color:$clr-ultra-purple;
        color:$clr-cream;
        &:hover {
          background-color:$clr-ultra-yellow;
          color:$clr-ultra-purple !important;
        }
      }
    }

    &.game-overlay-close {
      .btn {
        max-width:420px;
        width:100%;
        margin:0 auto;
        width:90%;
        border-color:$clr-ultra-green;
        transition:all 0s ease;
        background-color:$clr-mega-blue;
        &:hover {
          background-color:$clr-ultra-green;
          color:$clr-mega-blue !important;
        }
      }
    }
  }
}

// game selection

#left {
  background-image:url('../assets/star-bg.gif');
  background-repeat:repeat;
  .push-center-center {
    animation: ps-border-cycle 3s infinite;
    padding:$base/2;
    border:4px solid $clr-yellow;
    max-width:676px;
    width:100%;

    @media (max-width:$base-md) {
      width: 70%;
    }
    
    @media (max-width:$base-sm) {
      border:none;
      width: 100%;

      .btn {
        display:block;
        width:100%;
        margin-bottom:20px;
      }
    }
  }
}

// arcade-area

.game-background {
  position:absolute;
  background-color: $clr-ultra-blue;
  width:100vw;
  height:100vh;
  bottom:0;
  z-index:990;
  color:rgba($clr-ultra-ruby,0);
}

.game-container {
  z-index:999;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  .close-x {
    width:$base;
    height:$base;
    position:relative;
    background-color:$clr-ultra-ruby;
    z-index:9999;
    &:after, &:before {
      content:'';
      position:absolute;
      width:$base;
      height:1px;
      background-color:$clr-cream;
      top:($base/2)-1px; //1px height of lines
    }
    &:before {
      -webkit-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      transform:rotate(45deg);
      left:-1px;
    }
    &:after {
      -webkit-transform:rotate(-45deg);
      -moz-transform:rotate(-45deg);
      transform:rotate(-45deg);
      left:-1px;
    }
  }
}

.game-visible {
  display:block;
  opacity:1;
}

.game-hidden {
  display:none;
  opacity:0;
}

#background {
  position:absolute;
  z-index:995;
  padding:0;
  margin:0;
  display:none;
}
#gameview {
  position: fixed;
  z-index: 990;
  margin: 0;
  padding: 0;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sm-img {
  @media (max-width:$base-sm) {
    max-width:60px;
    width:100%;
  }
}

.about-container {
  max-width: 741px;
  padding: 106px 0!important;

  .prizes, .planning{
    border-bottom: 4px solid #ff0;
    padding-bottom: 43px;
  }

  .prizes a{
    margin-top: 20px;
  }

  .games{
    .btn-group{
      border-bottom: none!important;
    }
  }

  .subhead{
    margin-top: 24px;
    line-height: 28px;

    a{
      color:$clr-ultra-green;
    }
  }

  .btn-group{
    border-bottom: 4px solid $clr-ultra-yellow;
    padding-bottom: 43px;

    a:first-of-type{
      margin-right: 15px;

    @media (max-width:$base-md) {
        margin-right: 0;
      }
    }

    a:last-of-type{
      margin-left: 15px;

    @media (max-width:$base-md) {
        margin-left: 0;
      }
    }
  }
  @media (max-width:$base-md) {
    padding-bottom:$base*2;
  }
}

.mobile-show {
  display:none;
  @media (max-width:$base-sm) {
    display:inline-block;
  }
}

/* game */

.game-container {
  position:fixed;
  z-index:990;
  background-color:$clr-ultra-purple;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
}
