nav {
  .arcade-nav {
    z-index:900;
    background-color:rgba(255,255,255,0);
    color:white;
    width:60px;
    height:60px;
    text-align:center;
    border-radius:100px;
    position:absolute;
    transition:all 1s ease;
    font-size:30px;
    img {
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      margin:auto;
    }
    &.arcade-nav-left {
      left:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      &:hover {
        transform:translateY(-50%) scale(1.5);
      }
    }
    &.arcade-nav-right {
      right:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      &:hover {
        transform:translateY(-50%) scale(1.5);
      }
    }
    &.arcade-nav-bottom {
      bottom:10px;
      left:50%;
      transform:translateX(-50%) scale(1);
      &:hover {
        transform:translateX(-50%) scale(1.5);
      }
    }
    &.arcade-nav-top {
      top:10px;
      left:50%;
      transform:translateX(-50%) scale(1);
      &:hover {
        transform:translateX(-50%) scale(1.5);
      }
    }
    &.arcade-nav-home {
      top:10px;
      left:10px;
      transform:scale(1);
      &:hover {
        transform:scale(1.5);
      }
    }
  }
}
