nav.nav-screen {
  @media (max-width:$base-sm) {
    display:none;
  }
  .arcade-nav {
    z-index:900;
    background-color:rgba(255,255,255,0);
    color:white;
    min-width:60px;
    min-height:60px;
    text-align:center;
    border-radius:100px;
    position:absolute;
    transition:all 1s ease;
    font-size:10px;
    text-transform:uppercase;
    .nav-label {
      display:block;
      padding:10px;
      margin-top: 18px;
      font-size: 18px;

      &.about{
        margin-top: 0;
      }
    }
    &.arcade-nav-left {
      left:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      @media (max-width:$base-sm) {
      }
    }
    &.arcade-nav-right {
      right:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
    }
    &.arcade-nav-bottom {
      bottom:10px;
      left:50%;
      transform:translateX(-50%) scale(1);
    }
    &.arcade-nav-top {
      top: 90px;
      left:50%;
      transform:translateX(-50%) scale(1);
    }
    &.arcade-nav-home {
      top:100px;
      left:10px;
      transform:scale(1);
      &:hover {
        transform:scale(1.5);
      }
    }
  }
}

nav.nav-mobile {
  position:fixed;
  z-index:960;
  bottom:0;
  left:0;
  width:100vw;
  font-size:7px;
  text-align:center;
  vertical-align:middle;
  padding-bottom:1.5vh;
  display:none;
  @media (max-width:676px) {
    display:block;
  }
  a, a:hover, a:visited, a:active {
    color:$clr-cream;
    text-decoration:none;
  }
  .nav-label {
    display:block;
    padding-top:10px;
    text-transform:uppercase;
  }
  .nav-home {
    img {
      transform:translateY(-5px) scale(1.2);
    }
  }
}
