nav.nav-screen {
  .arcade-nav {
    z-index:900;
    background-color:rgba(255,255,255,0);
    color:white;
    min-width:60px;
    min-height:60px;
    text-align:center;
    border-radius:100px;
    position:absolute;
    transition:all 1s ease;
    font-size:10px;
    text-transform:uppercase;
    .nav-label {
      display:block;
      padding:10px;
    }
    &.arcade-nav-left {
      left:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      &:hover {
        transform:translateY(-50%) scale(1.5);
      }
      @media (max-width:$base-sm) {
      }
    }
    &.arcade-nav-right {
      right:10px;
      top:50%;
      transform:translateY(-50%) scale(1);
      &:hover {
        transform:translateY(-50%) scale(1.5);
      }
    }
    &.arcade-nav-bottom {
      bottom:10px;
      left:50%;
      transform:translateX(-50%) scale(1);
      &:hover {
        transform:translateX(-50%) scale(1.5);
      }
    }
    &.arcade-nav-top {
      top:20px;
      left:50%;
      transform:translateX(-50%) scale(1);
      &:hover {
        transform:translateX(-50%) scale(1.5);
      }
    }
    &.arcade-nav-home {
      top:10px;
      left:10px;
      transform:scale(1);
      &:hover {
        transform:scale(1.5);
      }
    }
  }
}
