<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="pageBody">
    {% include notification-bar.html %}
    {% include nav-mobile.html %} {% include outer.html %} {% include frame.html
    %} {% include game-container.html %}
    <main class="arcade-wrapper">
      {% include nav.html %}

      <div class="arcade-container">{{ content }}</div>
    </main>

    {% include drink-menu.html %} {% include event-listings.html %} {% include gallery.html %} {% include game-menu.html %} {% include
    directions-menu.html %} {% comment %} add any arcade game includes below {%
    endcomment %}
    <script type="text/javascript" src="js/game/Const.js"></script>
    <script type="text/javascript" src="js/game/SpaceShip.js"></script>
    <script type="text/javascript" src="js/game/CDetection.js"></script>
    <script type="text/javascript" src="js/game/Game.js"></script>
  </body>
</html>
